---
import { localizePath } from "astro-i18next";
const { icon, text, href, externalhref, white, nohide } = Astro.props;
---

<a
  href={href ? localizePath(href) : externalhref}
  class={`pixel-corners px-3 py-1 hover:text-black bg-transparent hover:bg-white text-lg font-medium font-[SourceCodePro] flex-row items-center inline-flex transition-bezier ${white ? "bg-white text-black" : "text-white"}`}
>
  {
    icon && (
      <img
        id="icon"
        alt="Button Icon"
        class={`${white ? "invert-0" : "invert"}`}
        src={icon}
      />
    )
  }
  {text}
  <img
    id={`${nohide ? "follow-button-link-perma" : "follow-button-link"}`}
    src="https://unpkg.com/pixelarticons@1.8.1/svg/arrow-down.svg"
    alt="Follow Button Link"
  />
</a>

<style>
  .transition-bezier {
    transition: all 0.3s cubic-bezier(0, 0, 0, 1);
  }

  a:hover #follow-button-link {
    margin-left: 18px;
    width: 20px;
    opacity: 1;
    filter: invert(0);
  }

  #follow-button-link {
    margin-left: 0px;
    width: 0px;
    opacity: 0;
    filter: invert(1);
  }

  a:hover #follow-button-link-perma {
    margin-left: 28px;
    width: 20px;
    opacity: 1;
    filter: invert(0);
  }

  #follow-button-link-perma {
    margin-left: 18px;
    width: 20px;
    opacity: 1;
    filter: invert(1);
  }

  a:active #follow-button-link-perma {
    transform: translate(3px, 0);
  }

  a:active #follow-button-link {
    transform: translate(3px, 0);
  }

  img {
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
  }

  #icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
  }

  a:hover #icon {
    width: 0px;
    filter: invert(0);
    transition: 0.2s cubic-bezier(0, 0, 0, 1);
  }

  .pixel-corners,
  .pixel-corners--wrapper {
    clip-path: polygon(
      0px calc(100% - 6px),
      3px calc(100% - 6px),
      3px calc(100% - 3px),
      6px calc(100% - 3px),
      6px 100%,
      calc(100% - 6px) 100%,
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 6px),
      100% calc(100% - 6px),
      100% 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 0px,
      6px 0px,
      6px 3px,
      3px 3px,
      3px 6px,
      0px 6px
    );
    position: relative;
  }
  .pixel-corners {
    border: 3px solid transparent;
  }
  .pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
  }
  .pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(
      3px 6px,
      6px 6px,
      6px 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 3px),
      6px calc(100% - 3px),
      6px calc(100% - 6px),
      3px calc(100% - 6px)
    );
  }
  .pixel-corners::after,
  .pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(
      0px calc(100% - 6px),
      3px calc(100% - 6px),
      3px calc(100% - 3px),
      6px calc(100% - 3px),
      6px 100%,
      calc(100% - 6px) 100%,
      calc(100% - 6px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 6px),
      100% calc(100% - 6px),
      100% 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 0px,
      6px 0px,
      6px 3px,
      3px 3px,
      3px 6px,
      0px 6px,
      0px 50%,
      3px 50%,
      3px 6px,
      6px 6px,
      6px 3px,
      calc(100% - 6px) 3px,
      calc(100% - 6px) 6px,
      calc(100% - 3px) 6px,
      calc(100% - 3px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 3px),
      6px calc(100% - 3px),
      6px calc(100% - 6px),
      3px calc(100% - 6px),
      3px 50%,
      0px 50%
    );
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    display: block;
    pointer-events: none;
  }
  .pixel-corners::after {
    margin: -3px;
  }
  .pixel-corners:active {
    transform: translate(0, 3px);
  }
</style>
