---

---

<div
  class="mt-16 px-36 w-screen bg-[#1a1a1a] h-20 text-white flex flex-row gap-6 items-center justify-between z-50 relative"
>
  <p>&copy; 2025 TARS UPV. Todos los derechos reservados.</p>
  <div class="flex flex-row items-center gap-6">
    <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/6/6f/Logo_of_Twitter.svg"
        alt="Twitter"
        class="w-6 h-6"
      />
    </a>
    <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg"
        alt="Facebook"
        class="w-6 h-6"
      />
    </a>
    <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png"
        alt="Instagram"
        class="w-6 h-6"
      />
    </a>
  </div>
</div>
