---
const { icon, text, description } = Astro.props;
---

<div
  class="w-screen h-80 flex flex-row items-center justify-between overflow-hidden z-10"
>
  <span
    class="left-1/2 -translate-x-1/2 w-full max-w-[1500px] px-3 flex flex-col sm:flex-row sm:items-center justify-between gap-6 absolute"
  >
    <span class="flex flex-row items-center gap-6 relative">
      {
        icon && (
          <img
            id="icon"
            alt="Head Title Icon"
            class="w-14 h-14 invert"
            src={icon}
          />
        )
      }
      <h1 class="text-6xl font-bold text-white">{text}</h1>
      <h1 class="-top-3 text-9xl font-bold font-[Braille] text-white/5 hidden sm:visible absolute">{text}</h1>
    </span>
    <p class="text-white text-lg">{description}</p>
  </span>
  <div class="hero w-full h-full absolute">
    <iframe
      src="/html/particles.html"
      class="top-0 left-0 opacity-60 w-screen h-screen z-0 absolute"></iframe>
  </div>
</div>

<style>
  .hero {
    opacity: 0.3;
    background: linear-gradient(
      45deg,
      rgba(14, 14, 107, 0.6),
      rgba(209, 24, 209, 0.6),
      rgba(173, 216, 230, 1)
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
</style>
