---
import { contentfulClient } from "../../lib/contentful";
import type { work } from "../../lib/contentful";
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import HeadTitle from "../../components/HeadTitle.astro";

const entries = await contentfulClient.getEntries<work>({
    content_type: "blogTars",
});
const posts = entries.items.map((item) => {
    const { title, slug, date, headerImg } = item.fields;
    return {
        title,
        slug,
        date,
        headerImg,
    };
});
---

<Layout title="Noticias | TARS Innovaci칩n y excelencia en rob칩tica competitiva">
    <Header isWork />
    <HeadTitle icon="/img/news.svg" text="Noticias" description="Consulta las noticias y avances m치s recientes del equipo!" />
    <main
      class="flex flex-col items-center justify-center relative"
    >
      <section class="max-w-[1400px] w-[95%] relative">
        <ul
          class="w-full mt-3 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 grid-rows-2 sm:gap-16 gap-6"
        >
          {
            posts.map((post, i) => (
            <a href={`work/${post.slug}`} class="post w-full rounded-lg bg-[#181818] -translate-y-16 hover:-translate-y-20 hover:shadow-md transition-all overflow-hidden">
              <img
                src={post.headerImg?.fields?.file?.url}
                alt={`Noticia ${i + 1}`}
                class="w-full h-56 top-0 left-0 object-cover"
              />
              <div class="p-3">
                <h2 class="font-bold text-2xl text-white">{post.title}</h2>
                <p class="mb-3 text-white">
                  {post.description ||
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec dui nec odio."}
                </p>
              </div>
              <div class="more">
                <div class="w-full h-16 bg-white/5 hover:bg-white/10 text-white text-xl font-semibold flex items-center justify-center transition-all">
                  Leer m치s
                  </div>
                </div>
            </a>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
</Layout>
